* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.6rem;
}

footer {
    width: 100%;
    height: 130px;
    position: absolute;
}

.carousel-inner img {
    width: 1800px;
    height: 800px;
    object-fit: cover;
}

#destacado {
    text-shadow: 2px 2px 4px #000000;
}

::placeholder {
    font-size: 1.6rem;
    color: #97979767 !important;
}

.form-control {
    font-size: 1.8rem;
    padding-left: 15px;
    height: auto;
    box-sizing: border-box;
    border-radius: 5px;
    border: none;
    
}

.form-control:focus {
    border: 1px solid rgb(34, 182, 113);
    outline: none;
    box-shadow: 0 0 10px rgba(100, 202, 146, 0.5);
}

/* color verde #22b671 */

#cart-count {
    display: inline-block;
    padding: 0.5em 0.75em;
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    background-color: red;
    border-radius: 50%;
    transform: scale(1);
    transition: transform 0.3s ease-in-out;
  }
  
  #cart-count.animate {
    transform: scale(1.3);
  }

  .animate {
    animation: bounce 0.3s;
  }

  @keyframes bounce {
    0%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.3);
    }
  }

  .custom-thead {
    background-color: rgba(var(--bs-success-rgb), var(--bs-bg-opacity)) !important;
}

@media (max-width: 767.98px) {
  .boton-usuario, .boton-carrito {
      width: 4rem;
      height: 4rem;
  }

  .navbar-nav .nav-link {
      font-size: 0.9rem;
  }
}

