{% extends 'base.html' %}

{% block contenido %}
<div class="container-fuid d-flex justify-content-center align-items-center" style="height: 800px">
    <div class="container d-flex justify-content-center bg-success-subtle rounded-5 w-50" style="height: 450px; margin-top: 20px; margin-bottom: 20px;">
        <div class="d-flex flex-column align-items-center justify-content-center px-5">
            <div class="justify-content-center align-items-center">
                <h1 class="mb-5" style="font-size: 3.2rem; font-weight: bold;">Pago Fallido</h1>
            </div>
            <div class="justify-content-center align-items-center">
                <p class="fs-2 mb-5">Hubo un problema al procesar tu pago. Por favor, intenta nuevamente.</p>
                <p class="fs-2">Detalles del pedido.</p>
                <ul class="fs-2 ms-0" style="list-style: none;">
                    <li class="ms-0">El Banco emisor impidió la transacción sin una razón en específica. <strong>Código: -1</strong></li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
