{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}


{% block contenido %}

<section>
    <div class="container-fluid d-flex justify-content-center bg-warning" style="height: 40px">
      <p class="text-black" style="font-size: 2.4rem; font-weight: bold">
        !<strong> APROVECHA</strong> - Despacho gratis en todas tus compras
        sobre $50.000 ¡
      </p>
    </div>
  </section>

<div class="container-fluid">
    <div class="container" style="margin-top: 80px; margin-bottom: 80px;">
        <div class="d-flex flex-wrap justify-content-center">
            <div>
                <img src="{% static 'img/herramientas-banner.webp' %}" class="img-fluid" alt="Construcción">
            </div>
        </div>
    </div>
</div>

<!-- PRODUCTOS DESTACADOS -->
<section class="container mt-5 justify-content-center">
    <h1 class="text-uppercase text-success text-center display-1 display-lg-1" style="font-weight: bold;">Productos Construcción</h1>
</section>
<!-- FIN PRODUCTOS DESTACADOS -->

<!-- INICIO CARD -->
<div class="container-fluid d-flex justify-content-center" style="margin-top: 80px; margin-bottom: 80px;">
    <div class="row gap-2 d-flex justify-content-center">
        <div class="card d-flex flex-column" style="width: 30rem;">
            <img src="../static/img/herramientas (1).webp" class="card-img-top mx-auto" alt="..." style="width: 20rem; height: 20rem; object-fit: cover;">
            <div class="card-body d-flex flex-column">
                <h5 class="card-title" style="font-size: 2.4rem; font-weight: bold; padding-top: 20px;">Ladrillo fiscal 5x14x28 cm rústico</h5>
                <p class="card-text pt-5" style="font-size: 1.8rem;">Ladrillo macizo. Diseñado para ser usado en albañilería. Gran calidad</p>
                <div class="mt-auto d-flex justify-content-end">
                    <a href="#" class="btn btn-success btn-lg mb-3 px-3 fs-2">Ver más</a>
                </div>
            </div>
        </div>
        <div class="card d-flex flex-column" style="width: 30rem;">
            <img src="../static/img/herramientas (2).webp" class="card-img-top mx-auto" alt="..." style="width: 20rem; height: 20rem; object-fit: cover;">
            <div class="card-body d-flex flex-column">
                <h5 class="card-title" style="font-size: 2.4rem; font-weight: bold; padding-top: 20px;">Cemento especial 25 kg Cbb</h5>
                <p class="card-text pt-5" style="font-size: 1.8rem;">Aumenta la durabilidad de las estructuras. Mayor impermeabilidad. Excelente calidad y homogeneidad</p>
                <div class="mt-auto d-flex justify-content-end">
                    <a href="#" class="btn btn-success btn-lg mb-3 px-3 fs-2">Ver más</a>
                </div>
            </div>
        </div>
        <div class="card d-flex flex-column" style="width: 30rem;">
            <img src="../static/img/herramientas (3).webp" class="card-img-top mx-auto" alt="..." style="width: 20rem; height: 20rem; object-fit: cover;">
            <div class="card-body d-flex flex-column">
                <h5 class="card-title" style="font-size: 2.4rem; font-weight: bold; padding-top: 20px;">Pino seco cepillado</h5>
                <p class="card-text pt-5" style="font-size: 1.8rem;">Pino seco 1 x 10 Pulgadas 3.2 Metros</p>
                <div class="mt-auto d-flex justify-content-end">
                    <a href="#" class="btn btn-success btn-lg mb-3 px-3 fs-2">Ver más</a>
                </div>
            </div>
        </div>
        <div class="card d-flex flex-column" style="width: 30rem;">
            <img src="../static/img/herramientas (4).webp" class="card-img-top mx-auto" alt="..." style="width: 20rem; height: 20rem; object-fit: cover;">
            <div class="card-body d-flex flex-column">
                <h5 class="card-title" style="font-size: 2.4rem; font-weight: bold; padding-top: 20px;">Tablero OSB</h5>
                <p class="card-text pt-5" style="font-size: 1.8rem;">Osb Importado marca Georgia Pacific. Ideal para construcción.</p>
                <div class="mt-auto d-flex justify-content-end">
                    <a href="#" class="btn btn-success btn-lg mb-3 px-3 fs-2">Ver más</a>
                </div>
            </div>
        </div>
        <div class="card d-flex flex-column" style="width: 30rem;">
            <img src="../static/img/herramientas (5).webp" class="card-img-top mx-auto" alt="..." style="width: 20rem; height: 20rem; object-fit: cover;">
            <div class="card-body d-flex flex-column">
                <h5 class="card-title" style="font-size: 2.4rem; font-weight: bold; padding-top: 20px;">Lana de vidrio</h5>
                <p class="card-text pt-5" style="font-size: 1.8rem;">Lana de fibra vidrio 50 mm 1,2x12 m Owens Corning</p>
                <div class="mt-auto d-flex justify-content-end">
                    <a href="#" class="btn btn-success btn-lg mb-3 px-3 fs-2">Ver más</a>
                </div>
            </div>
        </div>
        <div class="card d-flex flex-column" style="width: 30rem;">
            <img src="../static/img/herramientas (6).webp" class="card-img-top mx-auto" alt="..." style="width: 20rem; height: 20rem; object-fit: cover;">
            <div class="card-body d-flex flex-column">
                <h5 class="card-title" style="font-size: 2.4rem; font-weight: bold; padding-top: 20px;">Lana de vidrio</h5>
                <p class="card-text pt-5" style="font-size: 1.8rem;">Lana de fibra vidrio 50 mm 1,2x12 m Owens Corning</p>
                <div class="mt-auto d-flex justify-content-end">
                    <a href="#" class="btn btn-success btn-lg mb-3 px-3 fs-2">Ver más</a>
                </div>
            </div>
        </div>
        <div class="card d-flex flex-column" style="width: 30rem;">
            <img src="../static/img/herramientas (7).webp" class="card-img-top mx-auto" alt="..." style="width: 20rem; height: 20rem; object-fit: cover;">
            <div class="card-body d-flex flex-column">
                <h5 class="card-title" style="font-size: 2.4rem; font-weight: bold; padding-top: 20px;">Lana de vidrio</h5>
                <p class="card-text pt-5" style="font-size: 1.8rem;">Lana de fibra vidrio 50 mm 1,2x12 m Owens Corning</p>
                <div class="mt-auto d-flex justify-content-end">
                    <a href="#" class="btn btn-success btn-lg mb-3 px-3 fs-2">Ver más</a>
                </div>
            </div>
        </div>
        <div class="card d-flex flex-column" style="width: 30rem;">
            <img src="../static/img/herramientas (8).webp" class="card-img-top mx-auto" alt="..." style="width: 20rem; height: 20rem; object-fit: cover;">
            <div class="card-body d-flex flex-column">
                <h5 class="card-title" style="font-size: 2.4rem; font-weight: bold; padding-top: 20px;">Lana de vidrio</h5>
                <p class="card-text pt-5" style="font-size: 1.8rem;">Lana de fibra vidrio 50 mm 1,2x12 m Owens Corning</p>
                <div class="mt-auto d-flex justify-content-end">
                    <a href="#" class="btn btn-success btn-lg mb-3 px-3 fs-2">Ver más</a>
                </div>
            </div>
        </div>
        <div class="card d-flex flex-column" style="width: 30rem;">
            <img src="../static/img/herramientas (1).webp" class="card-img-top mx-auto" alt="..." style="width: 20rem; height: 20rem; object-fit: cover;">
            <div class="card-body d-flex flex-column">
                <h5 class="card-title" style="font-size: 2.4rem; font-weight: bold; padding-top: 20px;">Ladrillo fiscal 5x14x28 cm rústico</h5>
                <p class="card-text pt-5" style="font-size: 1.8rem;">Ladrillo macizo. Diseñado para ser usado en albañilería. Gran calidad</p>
                <div class="mt-auto d-flex justify-content-end">
                    <a href="#" class="btn btn-success btn-lg mb-3 px-3 fs-2">Ver más</a>
                </div>
            </div>
        </div>
        <div class="card d-flex flex-column" style="width: 30rem;">
            <img src="../static/img/herramientas (2).webp" class="card-img-top mx-auto" alt="..." style="width: 20rem; height: 20rem; object-fit: cover;">
            <div class="card-body d-flex flex-column">
                <h5 class="card-title" style="font-size: 2.4rem; font-weight: bold; padding-top: 20px;">Cemento especial 25 kg Cbb</h5>
                <p class="card-text pt-5" style="font-size: 1.8rem;">Aumenta la durabilidad de las estructuras. Mayor impermeabilidad. Excelente calidad y homogeneidad</p>
                <div class="mt-auto d-flex justify-content-end">
                    <a href="#" class="btn btn-success btn-lg mb-3 px-3 fs-2">Ver más</a>
                </div>
            </div>
        </div>
        <div class="card d-flex flex-column" style="width: 30rem;">
            <img src="../static/img/herramientas (3).webp" class="card-img-top mx-auto" alt="..." style="width: 20rem; height: 20rem; object-fit: cover;">
            <div class="card-body d-flex flex-column">
                <h5 class="card-title" style="font-size: 2.4rem; font-weight: bold; padding-top: 20px;">Pino seco cepillado</h5>
                <p class="card-text pt-5" style="font-size: 1.8rem;">Pino seco 1 x 10 Pulgadas 3.2 Metros</p>
                <div class="mt-auto d-flex justify-content-end">
                    <a href="#" class="btn btn-success btn-lg mb-3 px-3 fs-2">Ver más</a>
                </div>
            </div>
        </div>
        <div class="card d-flex flex-column" style="width: 30rem;">
            <img src="../static/img/herramientas (4).webp" class="card-img-top mx-auto" alt="..." style="width: 20rem; height: 20rem; object-fit: cover;">
            <div class="card-body d-flex flex-column">
                <h5 class="card-title" style="font-size: 2.4rem; font-weight: bold; padding-top: 20px;">Tablero OSB</h5>
                <p class="card-text pt-5" style="font-size: 1.8rem;">Osb Importado marca Georgia Pacific. Ideal para construcción.</p>
                <div class="mt-auto d-flex justify-content-end">
                    <a href="#" class="btn btn-success btn-lg mb-3 px-3 fs-2">Ver más</a>
                </div>
            </div>
        </div>
        <div class="card d-flex flex-column" style="width: 30rem;">
            <img src="../static/img/herramientas (5).webp" class="card-img-top mx-auto" alt="..." style="width: 20rem; height: 20rem; object-fit: cover;">
            <div class="card-body d-flex flex-column">
                <h5 class="card-title" style="font-size: 2.4rem; font-weight: bold; padding-top: 20px;">Lana de vidrio</h5>
                <p class="card-text pt-5" style="font-size: 1.8rem;">Lana de fibra vidrio 50 mm 1,2x12 m Owens Corning</p>
                <div class="mt-auto d-flex justify-content-end">
                    <a href="#" class="btn btn-success btn-lg mb-3 px-3 fs-2">Ver más</a>
                </div>
            </div>
        </div>
        <div class="card d-flex flex-column" style="width: 30rem;">
            <img src="../static/img/herramientas (6).webp" class="card-img-top mx-auto" alt="..." style="width: 20rem; height: 20rem; object-fit: cover;">
            <div class="card-body d-flex flex-column">
                <h5 class="card-title" style="font-size: 2.4rem; font-weight: bold; padding-top: 20px;">Lana de vidrio</h5>
                <p class="card-text pt-5" style="font-size: 1.8rem;">Lana de fibra vidrio 50 mm 1,2x12 m Owens Corning</p>
                <div class="mt-auto d-flex justify-content-end">
                    <a href="#" class="btn btn-success btn-lg mb-3 px-3 fs-2">Ver más</a>
                </div>
            </div>
        </div>
        <div class="card d-flex flex-column" style="width: 30rem;">
            <img src="../static/img/herramientas (7).webp" class="card-img-top mx-auto" alt="..." style="width: 20rem; height: 20rem; object-fit: cover;">
            <div class="card-body d-flex flex-column">
                <h5 class="card-title" style="font-size: 2.4rem; font-weight: bold; padding-top: 20px;">Lana de vidrio</h5>
                <p class="card-text pt-5" style="font-size: 1.8rem;">Lana de fibra vidrio 50 mm 1,2x12 m Owens Corning</p>
                <div class="mt-auto d-flex justify-content-end">
                    <a href="#" class="btn btn-success btn-lg mb-3 px-3 fs-2">Ver más</a>
                </div>
            </div>
        </div>
        <div class="card d-flex flex-column" style="width: 30rem;">
            <img src="../static/img/herramientas (8).webp" class="card-img-top mx-auto" alt="..." style="width: 20rem; height: 20rem; object-fit: cover;">
            <div class="card-body d-flex flex-column">
                <h5 class="card-title" style="font-size: 2.4rem; font-weight: bold; padding-top: 20px;">Lana de vidrio</h5>
                <p class="card-text pt-5" style="font-size: 1.8rem;">Lana de fibra vidrio 50 mm 1,2x12 m Owens Corning</p>
                <div class="mt-auto d-flex justify-content-end">
                    <a href="#" class="btn btn-success btn-lg mb-3 px-3 fs-2">Ver más</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- FIN CARD -->

{% endblock %}