{% extends 'base.html' %}
{% load static %}

{% block contenido %}
<!-- DETALLE DE PRODUCTO -->
<div class="container" style="margin-top: 120px;">
    <div class="card-img-container d-flex justify-content-between">
        <img src="{{ producto.imagen.url }}" class="card-img-top img-thumbnail" style="width: 500px; height: 500px; object-fit: cover; border-radius: 10px;" alt="...">
        <div class="container d-flex flex-column align-items-start" style="width: 500px;">
            <h1 class="mb-5" style="font-size: 3.6rem; font-weight: bold; text-transform: uppercase;">{{ producto.nombre }}</h1>
            <p class="mb-5" style="font-size: 2.4rem; font-weight: bold; padding-right: 20rem;">{{ producto.descripcion|lower|title }}</p>
            <p class="mb-5 fs-2">{{ producto.detalleCompleto|lower|title }}</p>
            <ul class="list-unstyled fs-2">
                <h1 class="mb-5" style="font-weight: bold; text-transform: uppercase;">{{ producto.especificaciones }}</h1>
                <div class="mb-5">
                    <li>{{ producto.lista1|lower|title }}</li>
                    <li>{{ producto.lista2|lower|title }}</li>
                    <li>{{ producto.lista3|lower|title }}</li>
                    <li>{{ producto.lista4|lower|title }}</li>
                    <li>{{ producto.lista5|lower|title }}</li>
                </div>
                <h1 class="mb-5" style="font-weight: bold; text-transform: uppercase;">{{ producto.incluye }}</h1>
                <div class="mb-5">
                    <li>{{ producto.lista6|lower|title }}</li>
                    <li>{{ producto.lista7|lower|title }}</li>
                    <li>{{ producto.lista8|lower|title }}</li>
                    <li>{{ producto.lista9|lower|title }}</li>
                    <li>{{ producto.lista10|lower|title }}</li>
                </div>
            </ul>
            <div class="container d-flex justify-content-between ps-0 mb-5 ">
                <p style="font-size: 2.4rem; color: #22b671;">Stock Disponible</p>
                <p style="font-size: 2.4rem; color: #929292; margin-left: auto;">
                    <span style="background-color: rgb(255, 255, 255); padding: 1px 15px; border: #5f5f5f solid 1px; border-radius: 5px;">{{ producto.stock }}</span><span style="color: #22b671;"> uds.</span> 
                </p>
            </div>
            <div style="margin-bottom: 80px;">
                <button onclick="agregarAlCarrito('{{ producto.id }}')" class="btn btn-success fs-2 btn-lg mb-5 px-5" >Agregar al Carrito</button>
                <div class="bg-success-subtle px-5 rounded-3 mt-5">
                    <form method="post" action="" class="pt-5 form-inline">
                        {% csrf_token %}
                        <label for="moneda" class="fs-2 me-3 ">Seleccione la Moneda:</label>
                        <select style="background-color: rgb(255, 255, 255); 
                                       padding: 5px; border: #5f5f5f solid 1px; 
                                       border-radius: 5px;
                                       color: #929292 ;" 
                                       class="fs-2" 
                                       name="moneda" 
                                       id="moneda" 
                                       class="form-control" 
                                       onchange="this.form.submit()">
                            <option value="CLP" {% if moneda == 'CLP' %}selected{% endif %}>CLP</option>
                            <option value="USD" {% if moneda == 'USD' %}selected{% endif %}>USD</option>
                            <option value="ARS" {% if moneda == 'ARS' %}selected{% endif %}>ARS</option>
                        </select>
                    </form>
                    <div class="mt-3 rounded-3 pb-5 fs-2" style="font-weight: bold; text-transform: uppercase;">
                        <p>Precio en {{ moneda }}: ${{ precio_convertido|floatformat:2 }}</p>
                        {% if tipo_cambio != 1 %}
                        <p>Tipo de Cambio: ${{ tipo_cambio|floatformat:2 }} CLP/{{ moneda }}</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>    
    </div>
</div>
{% endblock %}
