{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}


{% block contenido %}

<!-- CARRUSEL -->
<section class="d-flex justify-content-center mb-5" style="margin-top: 80px;">
  <div class="carousel-container" style="max-width: 1000px;">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
          aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
          aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
          aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="{% static 'img/webinar.webp' %}" class="d-block img-fluid" style="height: 450px; border-radius: 3px" alt="...">
        </div>
        <div class="carousel-item">
          <img src="{% static 'img/oferta-construccion.webp' %}" class="d-block img-fluid" style="height: 450px; border-radius: 3px;"
            alt="...">
        </div>
        <div class="carousel-item">
          <img src="{% static 'img/imperdibles-descuentos.webp' %}" class="d-block img-fluid" style="height: 450px; border-radius: 3px;"
            alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</section>
<!-- FIN CARRUSEL -->


<!-- PRODUCTOS DESTACADOS -->
<section class="container d-flex justify-content-center">
  <h1 class="text-uppercase mt-5 text-success text-center display-1 display-lg-1" style="font-weight: bold;">Productos Destacados</h1>
</section>
<!-- FIN PRODUCTOS DESTACADOS -->

<!-- TARJETA PRODUCTO -->
<section style="margin-top: 80px; margin-bottom: 80px;">
  <div class="container">
    <div class="row">
      {% for producto in productos %}
      {% if producto.stock > 0 %}
      <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
        <div class="card border-0" style="background-color: rgb(240, 240, 240); border-radius: 10px;">
          <div class="card-img-container d-flex justify-content-center align-items-center">
            <img src="{{ producto.imagen.url }}" class="card-img-top img-fluid" style="width: 90%; margin-top: 12px; border-radius: 10px; object-fit: cover;" alt="...">
          </div>
          <div class="card-body" style="margin-left: 4px; margin-right: 4px;">
            <h5 class="card-title">{{ producto.nombre }}</h5>
            <p class="card-text">{{ producto.descripcion|lower|title|truncatechars:50 }}</p>
            <div class="d-flex justify-content-between">
              <p class="text-success font-weight-bold">{{ producto.precioOferta|formato_moneda }}</p>
              <p class="text-body-tertiary text-decoration-line-through">{{ producto.precio|formato_moneda }}</p>
            </div>
            <div class="d-flex justify-content-between">
              <p style="color: #22b671;">Stock Disponible</p>
              <p style="color: #22b671;">{{ producto.stock }} uds.</p>
            </div>
            <div class="d-flex justify-content-between mb-2">
              <a href="{% url 'detalle' producto.id %}" class="btn btn-success btn-lg" style="font-size: 1.6rem;">Ver más</a>
              {% csrf_token %}
              <button onclick="agregarAlCarrito('{{ producto.id }}')" class="btn btn-warning btn-lg" style="font-size: 1.6rem;">Agregar</button>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </div>
</section>





{% endblock %}